{% extends 'base.html.twig' %}

{% block title %}Minus index{% endblock %}

{% block crud %}
    <h1>Minus index</h1>
    <div class="new"><a href="{{ path('app_minus_new') }}">Create new</a></div>

    <table class="table">
        <thead>
        <tr>
            <th>Id</th>
            <th>Value</th>
            <th>Dat</th>
            <th>Comment</th>
            <th>Refer</th>
            <th>actions</th>
        </tr>
        </thead>
        <tbody>
        {% for minu in minuses %}
            <tr>
                <td>{{ minu.id }}</td>
                <td>{{ minu.value }}</td>
                <td>{{ minu.dat ? minu.dat|date('d-m-Y') : '' }}</td>
                <td>{{ minu.comment }}</td>
                <td>{{ minu.refer }}</td>
                <td>
                    <a href="{{ path('app_minus_show', {'id': minu.id}) }}">show</a>
                    <a href="{{ path('app_minus_edit', {'id': minu.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <div class="new"><a href="{{ path('app_minus_new') }}">Create new</a></div>
{% endblock %}
