{% extends 'base.html.twig' %}

{% block title %}Minus{% endblock %}

{% block crud %}
    <h1>Minus</h1>

    {{ Table|raw }}
    <tbody>
    <tr>
        <th>Id</th>
        <td>{{ minu.id }}</td>
    </tr>
    <tr>
        <th>Value</th>
        <td>{{ minu.value }}</td>
    </tr>
    <tr>
        <th>Dat</th>
        <td>{{ minu.dat ? minu.dat|date('d-m-Y') : '' }}</td>
    </tr>
    <tr>
        <th>Comment</th>
        <td>{{ minu.comment }}</td>
    </tr>
    </tbody>
    {{ closeTable|raw }}

    <a href="{{ path('app_minus_index') }}">back to list</a>

    <a href="{{ path('app_minus_edit', {'id': minu.id}) }}">edit</a>

    {{ include('minus/_delete_form.html.twig') }}
{% endblock %}
