{% extends 'base.html.twig' %}

{% block title %}Plus{% endblock %}

{% block crud %}
    <h1>Plus</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ plu.id }}</td>
            </tr>
            <tr>
                <th>Value</th>
                <td>{{ plu.value }}</td>
            </tr>
            <tr>
                <th>Dat</th>
                <td>{{ plu.dat ? plu.dat|date('d-m-Y') : '' }}</td>
            </tr>
            <tr>
                <th>Comment</th>
                <td>{{ plu.comment }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_plus_index') }}">back to list</a>

    <a href="{{ path('app_plus_edit', {'id': plu.id}) }}">edit</a>

    {{ include('plus/_delete_form.html.twig') }}
{% endblock %}
