{% extends 'base.html.twig' %}

{% block title %}Move index{% endblock %}

{% block crud %}
    <h1>Move index</h1>
    <div><a href="{{ path('app_move_new') }}">Create new</a></div>

    {{ Table|raw }}
    <thead>
    <tr>
        <th>Id</th>
        <th>Value</th>
        <th>Dat</th>
        <th>Comment</th>
        <th>actions</th>
    </tr>
    </thead>
    <tbody>
    {% for move in moves %}
        <tr>
            <td>{{ move.id }}</td>
            <td>{{ move.value }}</td>
            <td>{{ move.dat ? move.dat|date('d-m-Y') : '' }}</td>
            <td>{{ move.comment }}</td>
            <td>
                <a href="{{ path('app_move_show', {'id': move.id}) }}">show</a>
                <a href="{{ path('app_move_edit', {'id': move.id}) }}">edit</a>
            </td>
        </tr>
    {% else %}
        <tr>
            <td colspan="5">no records found</td>
        </tr>
    {% endfor %}
    </tbody>
    {{ closeTable|raw }}

    <div><a href="{{ path('app_move_new') }}">Create new</a></div>
{% endblock %}
