{{ include('menu1.html.twig', {needPath: 'route_root', aElement: 'PlusMinus'}) }}
{{ include('menu1.html.twig', {needPath: 'route_root_png', aElement: 'PlusMinusPng'}) }}
<div>======</div>
{#{{ include('menu1.html.twig', {needPath: 'app_kind_index', aElement: 'Kind'}) }}#}
{#{{ include('menu1.html.twig', {needPath: 'app_type_index', aElement: 'Type'}) }}#}
{#{{ include('menu1.html.twig', {needPath: 'app_transaction_index', aElement: 'Transaction'}) }}#}
{#{{ include('menu1.html.twig', {needPath: 'app_minus_index', aElement: 'Minus'}) }}#}
{#{{ include('menu1.html.twig', {needPath: 'app_organization_index', aElement: 'Organization'}) }}#}
{#{{ include('menu1.html.twig', {needPath: 'app_currency_index', aElement: 'Currency'}) }}#}
{#{{ include('menu1.html.twig', {needPath: 'app_account_index', aElement: 'Account'}) }}#}
{#{{ include('menu1.html.twig', {needPath: 'app_move_index', aElement: 'Move'}) }}#}
{#{{ include('menu1.html.twig', {needPath: 'app_saldo_index', aElement: 'Saldo'}) }}#}
{#{{ include('menu1.html.twig', {needPath: 'app_source_index', aElement: 'Source'}) }}#}
{#{{ include('menu1.html.twig', {needPath: 'app_plus_index', aElement: 'Plus'}) }}#}
<div>======</div>
{#{{ include('menu1.html.twig', {needPath: 'route_imp_plikdotabeli1', aElement: 'PlikDoTabeli1'}) }}#}
{#{{ include('menu1.html.twig', {needPath: 'route_imp_import1', aElement: 'Import1'}) }}#}
<div>======</div>
